body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5e8f2;
    padding: 20px;
}

h1{
    color: #974083;
    margin-top: 250px;
    font-size: 60px;
}

.fakti{
    margin-top: 50px;

}

.fakts{
    font-size: 20px;
    margin: 10px 0;
    color: #424242;
}

.pogas button{
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    background-color: #aa4e96;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}



.attiestata{
    font-size: 18px;
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    background: #ffffff;
    padding: 10px;
    border: solid black 1px;
    width: 100%;
}
button {
    color: rgb(0, 0, 0);
    background: #ffffff;
    border: solid black 1px;
    padding: 10px 20px;
    margin: 5px;
    cursor:pointer;
}
button:hover {
    background: #c069ad;
}
.section {
    display: none;
    padding: 20px;
}
.active {
    display: block;
}
footer {
    border: solid black 1px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.konverti{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.konverts{
    width: 25%;
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid black;
}

.majina{
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
}
    
.majina img {
        width: 50px;
        height: 50px;
        border: solid black 1px;
}
    


